.container {
    width: 100%;
    min-width: 250px;
    height: 250px;
    padding: 30px;
    margin: 5px;
    box-shadow: var(--box-shadow);
    border-radius: 5px;
    background-color: var(--modal-bg);
    color: var(--modal-text);
    cursor: pointer;
}

.review {
    font-size: 14px;
    word-break: break-word;
}

.paragraph {
    mask-image: linear-gradient(
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0.35) 80%,
        rgba(0, 0, 0, 0) 100%
    );
    line-height: 1.4;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
