.container {
    width: calc(100% - 3rem);
    height: 250px;
    padding: 30px;
    margin: 5px;
    box-shadow: var(--box-shadow);
    border-radius: 5px;
    background-color: var(--modal-bg);
    color: var(--modal-text);
}

.review {
    font-size: 14px;
    word-break: break-word;
}

.review p {
    mask-image: linear-gradient(
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0.45) 25%,
        rgba(0, 0, 0, 0) 40%
    );
    line-height: 1.4;
    height: 350px;
}
