.wrapper {
    min-height: 100vh;
    background-color: var(--base-bg-color);
    color: var(--base-color);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    height: fit-content;
    padding: 2em;
}

.middleText {
    font-size: var(--middle-text);
    width: 200px;
    line-height: 1.2;
    letter-spacing: 0.6px;
}

.title {
    font-size: var(--big-text);
    font-weight: var(--fw-mid);
}

.infoContainer {
    padding: 1em;
}

.license {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: var(--fs-h3);
}

.license p {
    max-width: 150px;
    letter-spacing: 1px;
    font-size: 15px;
}

.license img {
    filter: invert(0%) sepia(6%) saturate(513%) hue-rotate(89deg)
        brightness(82%) contrast(87%);
    width: 100%;
    max-width: 50px;
    margin-right: 1em;
}
