.wrapper {
    min-height: 100vh;
    background-color: var(--base-bg-color);
    color: var(--base-color);
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: fit-content;
    justify-content: space-between;
}

.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.topText {
    margin: 1em;
}

.infoContainer {
    margin: 0 2em;
    padding: 0 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    margin-bottom: 1em;
}

.smallText {
    font-size: 12px;
    width: 200px;
    line-height: 1.2;
    letter-spacing: 0.6px;
    flex-grow: 1.5;
    color: var(--primary-color);
}

.mainText {
    flex-grow: 1.7;
}

.btn {
    margin: 0 2em 1em;
}
