.wrapper {
    min-height: 100vh;
    background-color: var(--base-bg-color);
    color: var(--base-color);
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: fit-content;
    justify-content: space-between;
}

.middleText {
    font-size: var(--middle-text);
    width: 200px;
    line-height: 1.2;
    letter-spacing: 0.6px;
    flex-grow: 1.5;
    color: var(--primary-color);
}

.title {
    font-size: var(--big-text);
    font-weight: var(--fw-mid);
}

.content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.topText {
    margin: 1em;
}

.infoContainer {
    margin: 0 1.5rem;
    padding: 0 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    margin-bottom: 1em;
    font-size: var(--fs-h3);
}

.title {
    font-size: var(--big-text);
    font-weight: var(--fw-mid);
    margin-bottom: 1rem;
}

.mainText {
    flex-grow: 1.7;
}

.btn {
    margin: 0 auto 1em;
}

@media (min-width: 600px) {
    .content {
        flex-direction: row-reverse;
    }

    .infoContainer {
        max-height: 400px;
    }
}
