.container {
    padding: 10px 0 0;
}

.swiper {
    cursor: grab;
    height: 100%;
}

.slide {
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 481px) {
    .swiper {
        width: 1400px;
        border: 1px solid red;
        position: relative;
    }
}
