.container {
    display: flex;
    justify-content: flex-end;
    font-size: 60px;
    color: var(--primary-color);
    padding: 0 1.5rem;
    max-width: 1200px;
    margin: 0 auto;
    cursor: pointer;
    transition: color 200ms ease;
}

@media (min-width: 961px) {
    .container > *:hover {
        color: var(--secondary-color);
    }
}
