.icon {
    color: var(--primary-color);
    width: 43px;
    height: 43px;
    cursor: pointer;
}

.iconContainer:hover .outline,
.iconContainer .fill {
    display: none;
}

.iconContainer:hover .fill {
    display: inline;
}
