.btn {
  width: 100%;
  max-width: 350px;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  font-family: inherit;
}

.filled {
    border-color: none;
    color: var(--btn-text);
    background-color: var(--primary-color);
    background-image: none;
    transition: all 1s ease;
}

.filled:hover {
    border-color: none;
    color: var(--btn-text);
    background-color: var(--gradient-bg);
    background-image: var(--gradient-color);
}

.outlined {
    border: 1px solid var(--primary-color);
    color: var(--base-color);
    background-color: inherit;
}

.text {
  border: none;
  color: var(--base-color);
  background-color: transparent;
}

.text:hover {
  color: var(--secondary-color);
}
