.container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: var(--modal-bg);
    color: var(--modal-text);
    z-index: 100;
    padding: 2em;
}

.review {
    font-size: 16px;
    word-break: break-word;
    line-height: 1.45;
    font-weight: 300;
    cursor: default;
}

.close {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    z-index: 1000;
    cursor: pointer;
}

@media (min-width: 651px) {
    .container {
        max-width: 480px;
        height: fit-content;
        margin: auto;
        border-radius: 5px;
    }
}
