.container {
    height: fit-content;
    padding: 30px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--base-bg-color);
    color: var(--base-color);
    position: relative;
}

.dots {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: url(../../assets/patterns/dots.svg);
    background-position: top;
    background-size: 350%;
    position: absolute;
    background-color: var(--base-bg-color);
    opacity: 0.22;
}

.form {
    width: 100%;
    max-width: 350px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-radius: 5px;
    z-index: 2;
}

.title {
    font-size: var(--fs-h2);
}

.inputs {
    outline: none;
    width: 100%;
    min-height: 50px;
    border: 1px solid grey;
    border-radius: 50px;
    padding-left: 10px;
}
.inputs:focus {
    border: none;
    box-shadow: var(--box-shadow);
}

.btn {
    width: 100%;
    min-height: 50px;
    border-radius: 50px !important;
}
