.container {
    height: fit-content;
    padding: 30px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--base-color);
    color: var(--base-color);
}

.form {
    width: 100%;
    max-width: 350px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    border-radius: 5px;
}

.title {
    font-size: var(--fs-h2);
    color: var(--base-bg-color);
}

.inputs {
    outline: none;
    width: 100%;
    min-height: 48px;
    padding-left: 20px;
    border: 1px solid var(--primary-color);
    border-radius: 50px;
    font-family: inherit;
}

.inputs:focus {
    border: 1px solid var(--secondary-color);
}

.btn {
    min-height: 48px;
    color: var(--base-color) !important;
    border-radius: 50px !important;
    font-weight: var(--fw-mid);
    letter-spacing: 0.2px;
}

.inputWrap {
    width: 100%;
    position: relative;
}

.error {
    position: absolute;
    font-size: 10px;
    color: red;
    margin-top: 2px;
    margin-left: 30px;
}

.inpError {
    border-color: red;
    outline: none;
    width: 100%;
    min-height: 50px;
    border-radius: 50px;
    padding-left: 10px;
}
