.container {
    height: fit-content;
    padding: 30px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--base-bg-color);
    color: var(--base-color);
}

.form {
    width: 100%;
    max-width: 350px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
    border-radius: 5px;
    z-index: 2;
    background-color: var(--base-bg-color);
    box-shadow: var(--box-shadow);
}

.title {
    font-size: var(--fs-h2);
}

.inputs {
    outline: none;
    width: 100%;
    min-height: 50px;
    border: 1px solid grey;
    border-radius: 50px;
    padding-left: 10px;
}

.inputs:focus {
    border: none;
    box-shadow: var(--box-shadow);
}

.btn {
    width: 100%;
    max-width: 350px !important;
    min-height: 50px;
    border-radius: 50px !important;
}

.inputWrap {
    width: 100%;
    position: relative;
}

.error {
    position: absolute;
    font-size: 10px;
    color: red;
    margin-top: 2px;
    margin-left: 30px;
}

.inpError {
    border-color: red;
    outline: none;
    width: 100%;
    min-height: 50px;
    border-radius: 50px;
    padding-left: 10px;
}
