.wrapper {
    background-color: var(--base-bg-color);
    color: var(--base-color);
}

.container {
    padding: 2em;
}

.title {
    font-size: var(--fs-h1);
    font-weight: var(--fw-mid);
}

.accent {
    color: var(--primary-color);
}
