.container {
    padding: 20px 0;
    background-color: var(--modal-bg);
    color: var(--modal-text);
}

.swiper {
    cursor: grab;
    height: 100%;
}

.slide {
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}
