.text {
    max-width: 150px;
    letter-spacing: 1px;
    font-size: 18px;
    color: var(--secondary-color);
}

.price {
    color: orangered;
    text-decoration: line-through;
}

/* background-color: var(--gradient-bg);
  background-image: var(--gradient-color);  background-size: 100%;
    background-repeat: repeat;
    background-clip: text; -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    */
