.list {
    list-style: none;
}

@media (min-width: 961px) {
    .list {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        padding: 5px;
        color: var(--base-color);
        font-size: var(--middle-text);
    }
}
