.license {
    display: flex;
    align-items: center;
    width: 100%;
}

.license p {
    max-width: 150px;
    letter-spacing: 1px;
    font-size: 15px;
}

.borderIcon {
    position: relative;
    margin-right: 1em;
}

.border {
    width: 75px;
}

.icon {
    filter: invert(0%) sepia(6%) saturate(513%) hue-rotate(89deg)
        brightness(82%) contrast(87%);
    width: 100%;
    max-width: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
