.container {
    padding: 0 30px;
    width: 100%;
    max-width: 1200px;
    height: 100vh;
    margin: 0 auto;
    margin-bottom: 50px;
    background-color: var(--color-background);
    color: var(--color-primary);
}

.title {
    margin-bottom: 10px;
    font-size: 40px;
    text-align: center;
}