.container {
    width: 100vw;
    height: fit-content;
    background-color: var(--base-bg-color);
    color: var(--base-color);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    margin-bottom: 10px;
    text-align: center;
    font-size: var(--fs-h1);
}

