.wrapper {
    width: 100vw;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-top: 1px solid var(--primary-color);
}

.mainComp {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.name {
    font-weight: var(--fw-mid);
    font-size: var(--fs-h3);
}

.phone {
    font-weight: var(--fw-mid);
    font-size: var(--fs-h3);
}

.email {
    font-weight: var(--fw-mid);
    font-size: var(--fs-h3);
}

.idNumber {
    font-weight: var(--fw-mid);
    font-size: var(--fs-h5);
}

.adrs {
    text-align: center;
    font-weight: var(--fw-mid);
}
