*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

:root{
    --ff-primary: 'Montserrat';

    --fw-reg: 400;
    --fw-bold: 700;
    
    --base-color: black;
    --base-bg-color: white;
    --primary-color: royalblue;
    --hover-btn-color: rgb(92, 125, 223);

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --small-text: 12px;
    
    --box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

img {
    max-width: 100%;
}
