* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

:root {
    --ff-primary: "Montserrat";

    --fw-reg: 400;
    --fw-bold: 700;

    --base-color: #fff;
    --base-bg-color: #0b0b22;
    --primary-color: #11bbff;
    --secondary-color: #00dd99;
    --hover-btn-color: rgb(92, 125, 223);

    --modal-text: #000;
    --modal-bg: #fff;

    --fs-h1: 24px;
    --fs-h2: 22px;
    --fs-h3: 20px;
    --fs-h4: 18px;
    --fs-h5: 16px;
    --small-text: 12px;

    --box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.accent {
    color: var(--secondary-color);
}
